body {
    background: linear-gradient(to right,rgb(76, 154, 255), rgb(23, 24, 93));
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1500px;
    text-align: center;
    margin: 30px auto;
}

img {
    width: 300px;
    height: 450px;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;
}

p {
    max-width: 900px;
    text-align: center;
    margin: 10px auto;
}

.js-content div {
    display: none;
}

.js-content div.ativo {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}